/* HERO PART */
.hero {
  background: url("Gallery/Home.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}

.search-box {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1000px;
}

.hero h1 {
  font-weight: bold;
}

.navbar {
  background: rgba(139, 185, 236, 0.9);
}

.gd-mrg {
  text-align: left;
}
.lead-txt {
  font-weight: 500;
  font-size: 1.4rem;
  text-align: left;
}

.search-box {
  background: #fff;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.search-icon {
  background-color: #00aeef;
  color: white;
  border-radius: 50%;
  padding: 10px 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.form-control::placeholder {
  color: #aaa;
}
.background {
  border-radius: 50%;
  background-color: #00aeef;
}

/* 2ND PART START  */
.icon-box {
  background-color: #e6f7ff;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
  font-size: 24px;
  color: #00aaff;
}
.why-box h5 {
  font-weight: 600;
}
.why-box p {
  color: #666;
  font-size: 14px;
}

/* 3RD PART START (OUR PARTNERS)  */
.partner-logo {
  max-height: 60px;
  filter: grayscale(100%);
  transition: all 0.3s ease;
}
.partner-logo:hover {
  filter: none;
  transform: scale(1.05);
}
.partners-section {
  padding: 50px 0;
  text-align: center;
}
.partner-item {
  margin: 20px;
}

/* 4TH PART START (TOP BOOK NOW)  */

.card-img-top {
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}
.rating-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #000;
  color: #fff;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 0.8rem;
}
.location {
  font-size: 0.9rem;
  color: gray;
}
.card-body h5 {
  font-weight: 600;
}
.price {
  font-weight: bold;
  font-size: 1rem;
  color: #000;
}

/* 5TH PART START (EXPLORE MALDIVE)   */

.maldive-section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("Gallery/maldive-hero.png") no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.maldive-section .card img {
  height: 200px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .maldive-section h2 {
    font-size: 2rem;
    text-align: center;
  }

  .maldive-section p {
    text-align: center;
  }

  .maldive-section button {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .maldive-section .card img {
    height: 180px;
  }
}
